<ion-view view-title="" cache-view="false" hide-nav-bar="true">
 <ion-pane>
  
  	

		<!--
        <div style="background-color:white">ברוכים הבאים</div>
			
		
         <div class="EnterLeftArrow">
          	<img src="img/enter/left_arrow.png" style="width:100%" />
         </div>
         
         <div class="EnterRightArrow">
          	<img src="img/enter/right_arrow.png" style="width:100%" />
         </div>
		-->
		 

            <ion-slides options="options" slider="data.slider" style="height: 100%; width: 100%; z-index:1">
                <ion-slide-page>
                     <div class="swiper-slide"  style="background-color: #35aacc;">
                    <div style="text-align: center;padding-top: 36px;"><img src="img/1.png" style="width: 80%;/* margin-left: auto; *//* margin-right: auto; *//* position: relative; */">
                    <div style="text-align: center;color: white;font-size: 24px;line-height: 31px;direction: rtl;bottom: 30%;position: fixed;width: 100%;"><div style="font-weight: 700;font-size: 27px;">
                        ברוך הבא ל-WhoCan
                        </div><div style="padding-left: 20px;
    padding-right: 20px;font-size: 23px;color: rgb(245, 245, 245);">
                            נותני שירות זמינים ואמינים סביבך
                            
                            </div></div>
                    </div>
                         <div style="width: 76%;position: fixed;bottom: 20px;background-color: white;height: 57px;z-index: 9;text-align: center;margin-left: 12%;border-radius: 100px;padding-top: 19px;font-size: 21px;cursor: pointer;" ui-sref="app.loginoptions()" href="#/app/loginoptions">
                             התחל
                         </div>
                </div>
                </ion-slide-page>
                <ion-slide-page>
                    <div class="swiper-slide"  style="background-color: #f96d5b;">
                    <div style="text-align: center;padding-top: 36px;"><img src="img/2.png" style="width: 80%;/* margin-left: auto; *//* margin-right: auto; *//* position: relative; */">
                    <div style="text-align: center;color: white;font-size: 24px;line-height: 31px;direction: rtl;bottom: 30%;position: fixed;width: 100%;"><div style="font-weight: 700;font-size: 27px;">
                        בחר את השירות שמתאים לך
                        </div><div style="padding-left: 20px;
    padding-right: 20px;font-size: 23px;color: rgb(245, 245, 245);">
                            על סמך דירוגים והמלצות של לקוחות אמיתיים
                            </div></div></div>
                        <div style="width: 76%;position: fixed;bottom: 20px;background-color: white;height: 57px;z-index: 9;text-align: center;margin-left: 12%;border-radius: 100px;padding-top: 19px;font-size: 21px;cursor: pointer;" ui-sref="app.loginoptions()" href="#/app/loginoptions">
                            התחל
                        </div>
                </div>
                </ion-slide-page>
                <ion-slide-page>
                    <div class="swiper-slide "  style="background-color: #fdc02d;">
                    <div style="text-align: center;padding-top: 36px;"><img src="img/3.png" style="width: 80%;/* margin-left: auto; *//* margin-right: auto; *//* position: relative; */">
                    <div style="text-align: center;color: white;font-size: 24px;line-height: 31px;direction: rtl;bottom: 30%;position: fixed;width: 100%;"><div style="font-weight: 700;font-size: 27px;">
                        צור קשר עם נותן השירות
                        </div><div style="padding-left: 20px;
    padding-right: 20px;font-size: 23px;color: rgb(245, 245, 245);">
                            והוא כבר בדרך אלייך ואצלך תוך דקות
                            </div></div></div>
                    <div style="width: 76%;position: fixed;bottom: 20px;background-color: white;height: 57px;z-index: 9;text-align: center;margin-left: 12%;border-radius: 100px;padding-top: 19px;font-size: 21px;cursor: pointer;" ui-sref="app.loginoptions()" href="#/app/loginoptions">
            התחל
        </div>
                </div>
                </ion-slide-page>
            </ion-slides>
			
			


  
  </ion-content>
  
  


  

</ion-view>
