<ion-view style=" ">
	<div ng-click="exit()" style="position:absolute; width:30px; height:30px; top:10px; right:20px">
    	<img src="img/close1.png" style="width:100%" />
    </div>
    <div>
    	<div class="popupTmb" align="center">
        	<div style="width:70%" >
        		<img src="{{phpHost}}/{{SupplierInfo.image}}" style="    width: 70px;
    border-radius: 150px;
    height: 70px;" ng-show="SupplierInfo.image">
                <img src="img/avatar2.png" style="    width: 70px;
    border-radius: 150px;
    height: 70px;" ng-show="!SupplierInfo.image">
            </div>
            <div style="font-weight:bold; font-size:18px; text-align: center !important;" >
           		 {{SupplierInfo.name}}
            </div>
        </div>
    	<img src="img/comment_pop_up_header.png" style="width:100%;" />
    </div>
    <div class="popupRate">
    	<div class="popupRateRight">
        	דירוג כללי
        </div>
        <div class="popupRateLeft">
        	<table>
            	<tr>
                	<td class="starTd" ng-click="setCommentRating(1)">
                    	<img ng-if="commentRating >=1" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <1" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(2)">
                    	<img ng-if="commentRating >=2" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <2" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    
                    <td class="starTd" ng-click="setCommentRating(3)">
                    	<img ng-if="commentRating >=3" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <3" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(4)">
                    	<img ng-if="commentRating >=4" src="img/comment_full_star.png" style="width:100%; margin-left:2px" />
                        <img ng-if="commentRating <4" src="img/comment_empty_star.png" style="width:100%; margin-left:2px" />
                    </td>
                    <td class="starTd" ng-click="setCommentRating(5)">
                    	<img ng-if="commentRating >=5" src="img/comment_full_star.png" style="width:100%;" />
                        <img ng-if="commentRating <5" src="img/comment_empty_star.png" style="width:100%;" />
                    </td>
                  
                </tr>
            </table>
        </div>
        <div class="textAreaComment" align="center">
        	<div>
        	 	<textarea rows="4" cols="50" placeholder="השאר עוד פרטים" ng-model="fields.comment" ></textarea> 
            </div>
        </div>
    </div>
	<div class="footerComment" ng-click="closeCommentPopup()">
		<div>
			<img src="img/ok.png" style="width:100%"/>
        </div>
  </div>
</ion-view>


