<ion-view style=" height: 242px;    margin-top: 50%;">
	<div ng-click="closeReport()" style="position:absolute; width:30px; height:30px; top:0px; right:0px;    background-color: #fb3d60;">
    	<img src="img/close1.png" style="width:100%" />
    </div>

    <div class="popupRate">
    	<div class="popupRateRight" style="    width: 30%;float: right;margin-top: 12px;font-size: 16px;color: #999;margin-right: 3px;">
        	דיווח
        </div>

		
        <div class="textAreaComment" align="center">
        	<div>
        	 	<textarea rows="4" cols="50" placeholder="מלא את סיבת הדיווח" ng-model="fields.reporttext" ></textarea> 
            </div>
        </div>
    </div>
	<div class="footerComment" ng-click="sendReport()">
		<div>
			<img src="img/ok.png" style="width:100%"/>
        </div>
  </div>
</ion-view>


