<ion-view view-title="" cache-view="false" hide-nav-bar="true" >
  <ion-content style="    background-color: #e7eff2;">
  
  	
   	<div>
       	<img src="img/mainlogo.png" style="width:100%"   />
    </div>
 
    
    <div class="mainPageLogInStructure" align="center">
        <!-- <div>
            <input type="text" placeholder="ENTER YOUR EMAIL" ng-model="loginfields.email" />
        </div>
        
        <div class="mt15">
            <input type="password" placeholder="ENTER PASSWORD" ng-model="loginfields.password" />
        </div>

        <div class="mt30" ng-click="LoginBtn()">
            <img src="img/next.png" style="width:100%"   />
        </div> -->

        
        <div   ng-click="FaceBookLoginBtn()" style="width:87%; margin-top:70px;">
            <img src="img/fac.png" style="width:100%"   />
        </div>
        
        <div class="mt20" style="width:87%;" ng-click="googleSignIn()">
            <img src="img/google.png" style="width:100%"   />
        </div>
        
        <div class="mt20" style="width:87%;" ui-sref="app.login()">
            <img src="img/email.png" style="width:100%"   />
        </div>
        
        
    
        <!-- <button class="button button-block button-positive" ng-click="EmailLoginBtn()">
          Email
        </button> 
    
        <div class="mt30" ui-sref="app.register()">
            <img src="img/next.png" style="width:100%"   />
        </div> -->
   <div ui-sref="app.main()" style="
    width: 87%;
    margin-left: 0%;
    text-align: center;
    top: 21px;
    background-color: white;
    padding: 17px;
    border-radius: 102px;
    color: #000000;
    font-size: 17px;
    position: relative;
" href="#/app/main">
               המשך
        </div>
		 </div>
  </ion-content>
  

</ion-view>
