<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content style="    background-color: white;">
  
  	<div class="mainPageLogo" align="center">
    	<div align="center">
        	<img src="img/logo.png" style="width:100%"   />
        </div>
    </div>
    <div class="mainPageLogIn" align="center">
        <div>
            <input class="mainPageLogInInput" type="email" ng-model="loginfields.email" placeholder="הכנס אימייל" ng-model="loginfields.email" />
        </div>
        
        <div class="mt15">
            <input type="password" placeholder="הכנס סיסמא" ng-model="loginfields.password" />
        </div>
        
        

        <div class="" ng-click="LoginBtn()" style="margin-top:32px;">
            <img src="img/next_login.png" style="width:100%"   />
        </div> 
        <div class="" style=" display: inline-block;
    margin-top: 3px!important;
    padding: 0px;
    text-align: right;
    margin-right: 50px;
    font-size: 16px;
    color: #61b5cf;
    font-weight: 700;
    direction: rtl;
    float: right;
    width: 100px;" ng-click="RegisterBtn()">
            משתמש חדש?
        </div> 
        
        <div style="
    display: inline-block;
    margin-top: 3px!important;
    padding: 0px;
    text-align: right;
    margin-left: 50px;
    font-size: 16px;
    color: #61b5cf;
    font-weight: 700;
    direction: rtl;
    float: left;
    width: 100px;
" ui-sref="app.forgotpass()" href="#/app/forgotpass">
            שכחתי סיסמא
        </div>
           
    </div>
    
    <!--
	<div class="list">
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Email</span>
		<input type="email" ng-model="loginfields.email" placeholder="">
	  </label>
	  <label class="item item-input item-stacked-label">
		<span class="input-label">Password</span>
		<input type="password" ng-model="loginfields.password" placeholder="">
	  </label>

	</div>

 
 	<button class="button button-block button-positive" ng-click="LoginBtn()">
	  Login
	</button>

	<button class="button button-block button-calm" ng-click="RegisterBtn()">
	  Register
	</button> -->
	
	
		  
  </ion-content>
</ion-view>
