<ion-view view-title="{{navTitle}}" class="no-scroll" cache-view="false" hide-back-button="true">
    <ion-content style="background-color:#e7eff2; overflow:hidden" scroll="false">
        <ion-scroll style="height:100vh">
            <!-- ng-class="selectedCategory == 1 ? categoryButton : categoryButtonSelected" -->
            <div style="height: 95px;    border-bottom: 6px solid #3b7791;background-color: #61b5cf;">
                <ion-scroll direction="x" class="wide-as-needed" delegate-handle="daysScroll"
                            style="    box-shadow: 0 -2px 13px 0px rgb(0, 0, 0);position: relative;z-index: 2;">
                    <a ng-click="setCatagory(item.index)"
                       ng-class="selectedCategory == item.index ? 'button categoryButtonSelected' : 'button categoryButton'"
                       ng-repeat="item in categories">

                        <img src="{{phpHost}}/{{item.image}}"
                             style="width: 50px; height: 50px; margin-top: 10px;margin-left: 0px;padding-bottom: 3px; "/>
                        <p class="titleClass">{{item.name}}</p>
                    </a>
                </ion-scroll>

                <div class="chooseCatPopUp" style="" ng-if="enterMainScreen" class="">
                    <img class="chooseCatPopUpImage" src="img/popup-slide.png" style="">
                    <div class="chooseCatPopUpTitle" style="">בחר קטגוריה</div>
                </div>
                <div class="infoBubblePopUp" ng-if="enterMainScreen" style="">

                    <!--<div onclick="javascript:window.location.href='#/app/login2'; return false;" class="infoBubblePopUpTitle">או הצטרף כבעל מקצוע</div>-->
                </div>

            </div>


            <!--     <table style="width:100%;">
                    <tr style="width:100%;">

                            <td ng-click="setCatagory($index)" class="categoryButton" ng-repeat="item in categories">
                                <img src="img/icons/i{{$index}}.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                                <p class="titleClass">{{item.name}}</p>
                            </td>


                       <td ng-click="setCatagory(4)" class="categoryButton">
                            <img src="img/icons/i1.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                            <p class="titleClass">מובילים</p>
                        </td>
                        <td ng-click="setCatagory(1)" class="categoryButton">
                            <img src="img/icons/i2.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                            <p class="titleClass">ידי זהב</p>
                        </td>
                        <td ng-click="setCatagory(1)" class="categoryButtonSelected">
                            <img src="img/icons/i3.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                            <p class="titleClass">חשמלאים</p>
                        </td>
                        <td ng-click="setCatagory(5)" class="categoryButton">
                            <img src="img/icons/i4.png" style="width:80%; top:-4px; margin-left:10px; position:relative;" />
                            <p class="titleClass">שרברבים</p>
                        </td>
                    </tr>
                </table>-->

            <!-- <button class="button button-positive" ng-repeat="item in Catagories" ng-click="showSuppliers($index)">
              {{item.name}}
            </button> height:60%; -->

            <div class="mapWrapper" ng-show="locationEnabled">
                <div id="map" data-tap-disabled="true" ng-style="showFindPro ? {height: '60vh'} : {height: '53vh'}"></div>
            </div>


            <div ng-show="!locationEnabled" style="height:300px; margin:50px; font-weight:bold;" align="center">
                <div ng-click="checkLocation()">על מנת להשתמש באפליקצייה יש לאשר את מיקומך</div>
                <div ng-click="checkLocation()">אשר מיקום</div>
            </div>

            <div ng-if="SuppliersData.length < 15 && showProfession == true" ng-click="openSearchModal()">
                <div class="infoPopUpCountNoPeople"
                     ng-class="{'noSuppliersDataIncreaseRad': SuppliersData.length == 0}">
                    הגדל את טווח החיפוש
                </div>
            </div>
            <div ng-show="!showFindPro" ng-if="suppliersCount === 0" align="center">
                <div class="infoPopUpCount">נמצאו {{suppliersCount}} אנשי מקצוע</div>
            </div>

            <div ng-if="SuppliersData.length == 0 && showProfession == true" align="center">
                <p style="       font-size: 20px;margin-top: 27px;height: 147px;">לא נמצאו תוצאות</p>
            </div>


            <!--	<div align="center" ng-show="showProfession">
                נמצאו {{suppliersCount}} אנשי מקצוע בקרבתך
                </div> -->


            <div class="mainPageLogIn1" align="center">


                <!--

                  </ion-slide>
                </ion-slide-box>-->

                <!--

                -->


                <div align="center" class="InfoPopUp2" ng-show="!showFindPro" on-swipe-right="ChangeSupplier(1)"
                     on-swipe-left="ChangeSupplier(0)" on-swipe-up="moveInfoPopUpUp()" on-swipe-down="moveInfoPopUp()"
                     ng-click="moveInfoPopUpUp1()" style="background-color:#e7eff2;">
                    <div ng-if="suppliersCount !== 0" class="infoPopUpCount2">נמצאו {{suppliersCount}} אנשי מקצוע</div>
                    <div id="infoPopUp" style="width:100% !important; overflow:hidden !important;">
                        <div>
                            <div class="infoRightButton" ng-click="ChangeSupplier(0)">
                                <img src="img/arrowr.png" style="width:100%"/>
                            </div>
                            <div class="infoLeftButton" ng-click="ChangeSupplier(1)">
                                <img src="img/arrowl.png" style="width:100%"/>
                            </div>
                        </div>
                        <div class="blueDiv"></div> <!-- ng-show="Bar.open" -->

                        <ion-slide-box class="infoPopUp_worker" show-pager="false"
                                       on-slide-changed="slideHasChanged($index)"
                                       style="width:100% !important; margin-top:-1px; position:relative; z-index:1; overflow:hidden !important;">
                            <ion-slide ng-repeat="item in SuppliersData">
                                <div style="width:100%;  z-index:100; position:relative" ng-click="moveInfoPopUp()"
                                     align="right"> <!-- ng-show="Bar.open" -->
                                    <div class="closeButtonCard" style="">
                                        <img src="img/close.png"
                                             style="width:100%; right:20px; top:10px; position:relative"/>
                                    </div>
                                </div>
                                <div class="InfoPopUp3">
                                    <div class="InfoPopUp1">

                                        <div class="infoImgPopUp" ng-click="moveInfoPopUpUp()"
                                             style="float:right;  margin-top:10px; " align="center">
                                            <div style="width:53%;    margin-right: 50px; margin-top:0px;">
                                                <img src="{{phpHost}}/{{SupplierInfo.image}}" style="width: 60px;
    border-radius: 150px;
    height: 60px;" ng-show="SupplierInfo.image">
                                                <img src="img/avatar2.png" style="width: 60px;
    border-radius: 150px;
    height: 60px;" ng-show="!SupplierInfo.image">
                                            </div>
                                        </div>

                                        <div class="infoDetailsPopUp" ng-click="moveInfoPopUpUp()"
                                             style="float:left; margin-top:10px;">
                                            <p style="margin-top:0px; font-size:22px; "><b>{{SupplierInfo.name}}</b></p>
                                            <p style="margin-top:-4px; font-size:16px; direction:rtl">
                                                {{SupplierInfo.catagoryname}} - {{SupplierInfo.dist| number: 1}}
                                                ק"מ </p>
                                            <p style="margin-top:-10px; font-size:16px;" ng-if="popupDistance"></p>


                                            <table style="" align="right">
                                                <tr align="right" style="    display: inline-table;"
                                                    ng-if="SupplierInfo.comments != undefined">{{SupplierInfo.comments
                                                    !=
                                                    undefined ?
                                                    '(' + SupplierInfo.comments.length + ')' : 'אין ביקורות'}}
                                                </tr>
                                                <tr align="right" style="    display: inline-table;">
                                                    <td ng-repeat="n in [] | range:SupplierInfo.rating">
                                                        <img src="img/fullstar.png"
                                                             style="width:20px; margin-top:-3px; margin-left:3px;"/>
                                                    </td>
                                                </tr>
                                            </table>


                                        </div>


                                    </div>


                                    <p ng-show="!Bar.open"
                                       style="margin-top:0px; font-size:14px;  font-weight:100; text-align:right; padding-right:40px; padding-left:20px; direction:rtl; ">
                                        {{SupplierInfo.desc | limitTo: 100}}</p>

                                    <p ng-show="Bar.open"
                                       style="margin-top:0px; font-size:14px;  font-weight:100; text-align:right; padding-right:40px; padding-left:20px; direction:rtl; ">
                                        {{SupplierInfo.desc}}</p>

                                    <div class="buttonsPopUp" ng-show="Bar.open">
                                        <!--
                                        <span ng-click="openReviews()" style="color:#2095ff; font-size:18px; font-weight:bold">ביקורות &nbsp; / &nbsp; </span>
                                        -->
                                        <span ng-if="SupplierInfo.facebook" ng-click="openPage(SupplierInfo.facebook)"
                                              style="color:#2095ff; font-size:16px;  font-weight:bold">פייסבוק <span
                                                style="    color: #a8a8a8;"> / </span> </span>
                                        <span ng-if="SupplierInfo.website" ng-click="openPage(SupplierInfo.website)"
                                              style="color:#2095ff; font-size:16px;  font-weight:bold">אתר אינטרנט <span
                                                style="    color: #a8a8a8;"> / </span>  </span>
                                        <span ng-click="commentModal()"
                                              style="color:#2095ff; font-size:16px;  font-weight:bold">כתוב ביקורת  </span>
                                        <span></span>
                                    </div>


                                    <div ng-show="Bar.footerOpen" style="height:10%;">
                                        <!--
                                        ng-show="showReviews"
                                        -->
                                        <div>

                                            <div align="left" hidden>
                                                <i ng-click="commentModal()" class="ion-plus-round"
                                                   style="font-size:20px;  margn-left:10px; padding:10px;"></i>
                                            </div>

                                            <div class="AboutPopUp">
                                                <ion-scroll direction="y" style="height: 250px;">
                                                    <div class="itemStructure" ng-repeat="item in Comments">
                                                        <div class="reportCommentTitle"
                                                             ng-click="reportComment(item.index)"
                                                             style="">
                                                            דווח
                                                        </div>
                                                        <div class="reviews">
                                                            <div class="reviewsDetails">
                                                                <div class="reviewHeader">


                                                                    <div class="reviewHeaderLeft">


                                                                        <table style="width:60%; margin-top:0px;    margin-right: -11px;"
                                                                               align="right">
                                                                            <tr style="">
                                                                                <td ng-repeat="n in [] | range:item.rating">
                                                                                    <img src="img/fullstar.png"
                                                                                         style="width:20px; margin-top:-3px; margin-left:3px;"/>
                                                                                </td>
                                                                            </tr>
                                                                        </table>


                                                                        <div>

                                                                            <span class="dateReport">{{getReviewDate(item)}}</span>
                                                                        </div>

                                                                    </div>


                                                                    <div class="reviewHeaderRight">
                                                                        <p style="direction:rtl; text-align:right"><span
                                                                                style="font-size:14px; font-weight:bold;">{{item.username}}</span>
                                                                        </p>
                                                                    </div>

                                                                </div>
                                                                <p style="margin-top:2px;">{{item.text}}</p>

                                                            </div>
                                                            <div class="reviewsImage" align="center">
                                                                <div ng-if="item.facebookid" style="width:60%">
                                                                    <img src="https://graph.facebook.com/{{item.facebookid}}/picture?type=normal"
                                                                         style="width:100%;    margin-top: 12px;">
                                                                </div>
                                                                <div ng-if="!item.facebookid" style="width:60%">
                                                                    <img src="img/avatar2.png"
                                                                         style="width:100%;    margin-top: 12px;">
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="greyLine"></div>
                                                    </div>
                                                </ion-scroll>
                                            </div>
                                        </div>
                                    </div>


                                    <!--	<div style="width:100%; overflow:hidden; margin-top:15px" align="center" ng-show="Bar.open">
                                        <div style="width:90%; overflow:hidden; margin-top:25px" align="center">
                                            <div style="float:left; width:48%" ng-click="startChat()">
                                                <img src="img/chat.png" style="width:100%"/>
                                            </div>
                                            <div style="float:right; width:48%" ng-click="dialPhone(SupplierInfo.phone)">
                                                <img src="img/call.png" style="width:100%"/>
                                            </div>
                                        </div>
                                    </div>-->


                                </div>
                    </div>
                </div>


            </div>
            </ion-slide>
            </ion-slide-box>

            <div style="width:100%; position: absolute; bottom: 0;" align="center">
                <div class="footerStructure" ng-click="getSuppliers()" ng-show="showFindPro">
                    <img class="searchButtonStructure" src="img/pro.png"/>
                    <div class="searchButtonLoadingStructure">מחפש...</div>
                </div>
            </div>

            <!-- <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
              </label>
            </div> -->


            <!--
            <div ng-if="showHidden == 1">
            <ion-list>
              <ion-item ng-repeat="item in dataInfo" ng-click="navigateDetails($index)">
                {{item.name}}
              </ion-item>
            </ion-list>

            </div>
            -->

        </ion-scroll>
    </ion-content>

    <ion-footer-bar align-title="left"
                    style="background-color:#e7eff2; height:90px;    border-top: 0px solid #2ba9d2;padding-top: 13px;"
                    ng-if="Bar.footerOpen">
        <div ng-click="startChat()">
            <img src="img/chat.png" style="/* width:100%; */width: 80%;float: left;margin-left: 19px;">
        </div>
        <div ng-click="dialPhone(SupplierInfo.phone)">
            <img src="img/call.png" style="width: 80%;float: right;margin-right: 19px;">
        </div>
    </ion-footer-bar>


</ion-view>


