 <script id="image-modal.html" type="text/ng-template">
              <div class="modal image-modal transparent"  align="center" style="width:100%">
				<div align="center" on-swipe-right="ChangeSupplier(1)" on-swipe-left="ChangeSupplier(0)" style="width:100%; overflow:hidden; border-radius:0px; height:80%; background-color:#e7eff2; margin-top:50%;">
					<div style="width:7%; float:right; margin-top:35px; margin-right:8px;" ng-click="ChangeSupplier(0)">
						<img src="img/arrowr.png" style="width:100%" />
					</div>
					<div style="width:80%; float:right; " >
						<div class="infoPopUpHeader">
							<div class="infoPopUpHeaderleft">
								<img src="{{phpHost}}/{{SupplierInfo.image}}" style="width:100%;">
							</div>
							<div class="infoPopUpCloseButton" ng-click="closeModal()">
								<i class="ion-close-round"></i>
							</div>
							<div class="infoPopUpHeaderRight">
								<div class="popupTitle">{{SupplierInfo.name}}</div>
								<div>{{SupplierInfo.catagoryname}}</div>
								<!-- <div>{{SupplierInfo.address}}</div> -->
								
								 <table style="width:60%; margin-top:-5px;" align="right">
									<tr align="right" style="width:60%;" >
										<td>
											<img src="img/fullstar.png" style="width:25px" />
										</td>
										<td>
											<img src="img/fullstar.png" style="width:25px"/>
										</td>
										<td>
											<img src="img/fullstar.png" style="width:25px"/>
										</td>
										<td>
											<img src="img/fullstar.png" style="width:25px"/>
										</td>
										<td>
											<img src="img/fullstar.png" style="width:25px"/>
										</td>
									</tr>
								</table>
				
				
							</div>
						</div>
						
						
						<div ng-show="showInfo">
							<p class="InfoPopUp">{{SupplierInfo.desc}}</p>
						</div>

						<div ng-show="showReviews">
       
							<div align="left">
								<i ng-click="commentModal()"  class="ion-plus-round" style="font-size:20px;  margn-left:10px; padding:10px;"></i>
								<div ng-click="openReviews()" style="float:left; margn-left:10px;" ng-show="showReviews">
									CLOSE
								</div>
							</div>
	  
							<div class="AboutPopUp">
								<ion-scroll direction="y" style=" height: 250px">
								<div ng-repeat="item in Comments" class="reviews">
									<div class="reviewsDetails">
										<p>{{item.username}}</p>
										<p style="margin-top:-10px;">{{item.text}}</p>
										<p style="margin-top:-10px;">{{item.time}} </p>
									</div>
									<div class="reviewsImage">
										<p ng-if="item.facebookid">
											<img  src="https://graph.facebook.com/{{item.facebookid}}/picture?type=normal" style="width:100%">
										</p>
										
										
										<p ng-if="!item.facebookid">
											<img src="img/avatar2.png" style="width:100%">
										</p>	
								    </div>							
								
								</div>
							 </ion-scroll>	
							</div>
						</div>
						
						

						
						<div class="buttonsPopUp" ng-show="showInfo">
							<span ng-click="openReviews()" style="color:#2095ff; font-size:18px; font-weight:bold">ביקורות &nbsp; / &nbsp; </span>
							<span ng-click="openPage(SupplierInfo.facebook)" style="color:#2095ff; font-size:18px;  font-weight:bold">פייסבוק &nbsp; / &nbsp; </span>
							<span ng-click="openPage(SupplierInfo.website)" style="color:#2095ff; font-size:18px;  font-weight:bold">אתר אינטרנט   </span>
							<span></span>
						</div>
						
						
						
						
						
					<div style="width:100%; overflow:hidden; margin-top:15px" align="center">
						<div style="width:90%; overflow:hidden; margin-top:25px" align="center">
							<div style="float:left; width:48%" ng-click="startChat()">
								<img src="img/chat.png" style="width:100%"/>
							</div>
							<div style="float:right; width:48%" ng-click="dialPhone(SupplierInfo.phone)">
								<img src="img/call.png" style="width:100%"/>
							</div>
						</div>
					</div>
					
					</div>
					
					
					
				<div>
				
				<div style="width:7%; float:left; margin-top:35px; margin-left:8px;" ng-click="ChangeSupplier(1)">
					<img src="img/arrowl.png" style="width:100%" />
				</div>
				
			</div>
		</div>
      </script>
      
      <!--<1-- 
<div style="width:100%; overflow:hidden; margin-top:15px" align="center" >
						<div style="width:90%; overflow:hidden; margin-top:25px" align="center">
							<div style="float:left; width:48%" ng-click="startChat()">
								<img src="img/chat.png" style="width:100%"/>
							</div>
							<div style="float:right; width:48%" ng-click="dialPhone(SupplierInfo.phone)">
								<img src="img/call.png" style="width:100%"/>
							</div>
						</div>
					</div>
                    -->


	
							<!-- <div style="width:100%; left:-20%;" align="center">
							<!-- 	<div style="width:65%;" ng-click="dialPhone(SupplierInfo.phone)">
								<!-- 	<img src="img/call.png" style="width:100%" />
							<!-- 	</div>
                              <!--   <div style="width:65%; margin-top:-5px;">
								<!-- 	<img src="img/chat.png" style="width:100%" ng-click="startChat()"/>
									<!-- <button class="button icon-left ion-ios-telephone button-positive">CALL</button>
									<!--<button class="button icon-left ion-ios-chatboxes button-positive" ng-click="startChat()">CHAT</button>
									-->
								<!-- </div>
							<!-- </div>
                            
                            
                            
					<div ng-click="ChangeSupplier(0)">
						<i class="ion-arrow-right-a" style="font-size:20px;"></i>
					</div>
					<div ng-click="ChangeSupplier(1)">
						<i class="ion-arrow-left-a" style="font-size:20px;"></i>
					</div> -->
