<ion-modal-view>


<ion-header-bar align-title="left" style="background-color:#2cabce">

  <h1 class="title" align="center" style="text-align:center; z-index:-1; color:white; width:100%; padding:0">הוספת מיקום</h1>
    <div   ng-click="closeSearchModal()" style="z-index:100">
      <i class="ion-ios-arrow-back"  style="font-size:30px;  color:white"></i>
    </div>
</ion-header-bar>


  <ion-content class="has-header">
  
		

		
      <div class="list">
      	<div style="width:100%" align="center">
        	<div style="width:100%; color:#808080; font-size:23px; margin-top:10px; text-align:center;">
            	כתובת נוכחית
                <label style="margin-top:10px; direction:rtl;   ">
          			<input type="text" ng-model="fields.locationname" style="width: 100%;background:transparent; font-size:20px; text-align:center; color:#808080; " readonly>
       			</label>
                
                <div ng-show="!showAddLocation" style="width:100%; margin-top:20px;" ng-click="addLocationBtn()">
                	<img src="img/AddLocation.png" style="width:80%;" />
                </div>
            </div>
            
            <div ng-show="showAddLocation" style="width:80%; border-radius:30px; height:50px; margin-top:15px; padding-top:6px; border:2px solid #05aaea">
            	 <div style="position:absolute; width:40px; margin-left:5px; margin-top:-2px;">
                	<img src="img/v.png" style="width:100%;" />
                </div>
                
            	
                <input type="text" placeholder="הזן מיקום חדש" ng-model="fields.newlocation" style="background:transparent; font-size:20px; text-align:right; padding:0px; margin-left: -10% !important;color:#808080; " g-places-autocomplete force-selection="true" options="autocompleteOptions" >
               
        	</div>
        </div>
        
        
       

        <label  ng-if="fields.customsearch == 1">
          <button class="button button-block button-positive" ng-click="setCurrentLocation()">SET CURRENT LOCATION</button>
        </label>	

		
      <!--  <label  ng-show="showAddLocation">
          <span class="input-label">Add new location</span>
          <input type="text" ng-model="fields.newlocation" g-places-autocomplete force-selection="true" options="autocompleteOptions" >
        </label> -->
			<div style="width:105%; margin-right:3%; margin-top:20px; border:0.5px solid #f1f1f1"></div>
            
				<div style="width:100%; margin-top:20px;" align="center">
        			<div style="width:60%; color:#808080; font-size:23px; margin-top:10px; text-align:center;">
            			הגדרת טווח חיפוש
                    </div>
                </div>
                
                <label style="margin-top:50px; padding-top:20px; padding-bottom:20px; overflow:hidden;">
    
                        <div style="float:left; width:10%; margin-top:15px; margin-left:5px; text-align:right; padding:5px;"> 0 </div>
                            <rzslider 
                            rz-slider-floor="0" 
                            rz-slider-ceil="25"
                            rz-slider-model="fields.searchradious"
                            style="width:70%; float:left;">
                            </rzslider>
                            <div style="float:left; width:10%; margin-top:20px; margin-left:10px;"> 25 </div>
                 
                </label>
            
            	<div style="width:105%; margin-right:3%; margin-top:80px; border:0.5px solid #f1f1f1"></div>
                <div  style="width:100%; margin-top:20px;" ng-click="saveSearchLocation()" align="center">
                    <div style="width:60%">
                        <img src="img/oklocation.png" style="width:100%"
                    </div>  
               </div>		
        <!--<label >
          <button class="button button-block button-positive" ng-click="saveSearchLocation()">DONE</button>
        </label> -->
		
      </div>
	  

  </ion-content>
</ion-modal-view>
