<ion-view view-title="{{navTitle}}">
  <ion-content>
		<div class="workingTitle">
        	זמינות בימי השבוע
        </div>
        <div class="workingLine"> </div>
        <div>
        	
            
            <div class="workingDay" ng-repeat="day in Days">
            	<div ng-class="(day.active == 1)?'workingDayText':'workingDayTextNotActive'">
                	יום {{ day.dayName }}
                </div>
                <div class="workingDayV">
                	<img ng-if = "day.active == 1" src="img/vicon.png" style="width:100%" ng-click="setActiveDay({{$index}})" />
                    <img ng-if = "day.active == 0" src="img/eicon.png" style="width:100%" ng-click="setActiveDay({{$index}})" />
                </div>
                 <div class="workingDayHours">
                 	<div ng-class="(day.active == 1)?'workingDayHoursLeft':'workingDayHoursLeftNotActive'" ng-click="pickTime(day.startime,day.index,$index,0)">
					{{day.startime}} 
					</div>
                    <div class="workingDayHoursCenter"> - </div>
                    <div ng-class="(day.active == 1)?'workingDayHoursRight':'workingDayHoursLeftNotActive'" ng-click="pickTime(day.endtime,day.index,$index,1)"> 
					{{day.endtime}} 
					</div>
                </div>
            </div>
            
          
        </div>

 

		
		<!-- 
		
		<button class="button button-block button-positive" ng-click="saveDays()">
		  Save
		</button>
		-->



		
 
  
  
  
  </ion-content>
</ion-view>
