<ion-view view-title="{{navTitle}}" cache-view="false" >
  <ion-content style="    background-color: white;">
  
  	<div class="mainPageLogo" align="center">
    	<div align="center">
        	<img src="img/logo.png" style="width:100%"   />
        </div>
    </div>
    <div class="mainPageLogIn" align="center">
        <div>
            <input class="mainPageLogInInput" type="email" ng-model="forgot.email" placeholder="הכנס אימייל" ng-model="loginfields.email" />
        </div>
        

        <div class="" ng-click="sendPassword()" style="margin-top:32px;">
            <img src="img/sendbtn.png" style="width:100%"   />
        </div> 
    </div>
    
	
		  
  </ion-content>
</ion-view>
