<ion-side-menus enable-menu-with-back-views="true">
  <ion-side-menu-content drag-content="false">
    <ion-nav-bar  align-title="center"  class="bar-stable">
      <ion-nav-back-button>
      </ion-nav-back-button>
      <!--<div class="logoHeader">
        <img class="title-image" src="img/headerlogo.png" style="width:125px; margin-left:-15px; margin-top:2px;"/>
      </div>-->
      <ion-nav-buttons side="right">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="right">
        </button>
      </ion-nav-buttons>
    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>

  <ion-side-menu side="right" style="text-align:right">
    <ion-header-bar >
<div style="
    text-align: center;    margin-top: 14px;
">
            	<img src="img/logo.png" style="width: 71%;margin-left: auto;margin-right: auto;">
            </div>
    </ion-header-bar>
    <ion-content>
      <ion-list>
	  

        <ion-item menu-close href="#/app/main" style="margin-top: 50px;">
         ראשי
        </ion-item>
		
         <ion-item menu-close href="#/app/loginoptions"  ng-if="!userloggedIn">
          התחברות
        </ion-item>
		
		
         <ion-item menu-close href="#/app/available" ng-show="isProvider" ng-if="userloggedIn">
          פרופיל
        </ion-item>

          <ion-item menu-close href="#/app/working" ng-show="isProvider" ng-if="userloggedIn">
              ניהול זמינות
          </ion-item>
		
		
        <ion-item menu-close href="#/app/provider" ng-show="!isProvider" ng-if="userloggedIn">
          הצטרף כנותן שירות
        </ion-item>
		
		
		
		 <ion-item menu-close href="#/app/how">
          איך זה עובד
        </ion-item>
		
        <ion-item menu-close href="#/app/about">
          אודות
        </ion-item>
       

		
		<!--
        <ion-item menu-close href="#/app/working" ng-show="isProvider">
          הגדרות
        </ion-item>

        <ion-item menu-close href="#/app/available" ng-show="isProvider">
          זמין או לא?
        </ion-item>		
		-->
		
		
       


		
      
       
        <ion-item menu-close href="#/app/terms">
          תנאי שימוש
        </ion-item>
          <ion-item menu-close href="#/app/contact">
          צור קשר
        </ion-item>
        <ion-item menu-close href="" ng-click="ShareOptions()">
          שיתוף
        </ion-item>
         <ion-item menu-close href="" ng-click="logOut()" ng-if="userloggedIn">
          התנתקות
        </ion-item>	

      </ion-list>
    </ion-content>
  </ion-side-menu>
</ion-side-menus>
