<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
	<ion-nav-buttons side="left">
		<button class="button back-button buttons button-clear header-item" ng-click="goBack()">
			<i class="icon ion-ios-arrow-back"></i>
		</button>
	</ion-nav-buttons>
  <ion-content>
  
	<div class="list" >

 
	<button class="button button-block button-positive" ui-sref="app.editprofile()">
	  עריכת עסק
	</button>
	

 
	<button class="button button-block button-positive" ui-sref="app.working()">
	  ניהול זמינות
	</button>

	<button class="button button-block button-positive" style="direction:rtl;" ui-sref="app.available()">
	  זמין או לא?
	</button>
		
		
		
	</div>

          	
		
		  
  </ion-content>
</ion-view>
