<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
  <ion-content>
  
<div>
  <img src="img/1bg.png" style="width:100%;">
  <img src="img/2bg.png" style="width: 85px;position: absolute;top: 40px;right: 26px;">
  <div class="infoTitle"  style="">
    קצת עלינו
  </div>
   <div class="infoDescription" style="">
     אפליקציית whocan הוקמה על ידי חבורה של יזמים מתחומים שונים - תקשורת, נדל"ן, עיצוב ועוד. הרעיון היה ליצור שירות שיענה על הצורך של רבים מאיתנו - לקבל שירות טוב, איכותי ואמין מבעלי מקצוע ו"בעלי ידי זהב" מהקהילה המיידית שלנו, ללא החסמים והחששות שמלווים את ה"תיק" הכרוך בהזמנת בעל מקצוע הביתה. 
הטכנולוגיה המצויה כיום בכף ידו של כל אחד מאיתנו, מאפשרת ל - whocan לאתר את בעל המקצוע הזמין והאמין ביותר בקרבת מקום, ולייצר את החיבור בינו לבין הלקוח. מלבד קרבה וזמינות, whocan מציעה מערכת דירוג של איכות השירות, על בסיס כמות ההמלצות, הציון שניתן על ידי הלקוחות, איכות הממליצים והקשר שלהם ללקוח. כך, whocan תשלח אליכם איש מקצועי אמין ואחראי, שמגיע עם המלצות חמות מאנשים שאתם מכירים. 
אנחנו ב - whocan מאמינים בכוחו של ההמון.  בדומה לשירותים דיגיטליים בתחומים כמו תחבורה וצרכנות, לחוות דעת חיובית מהלקוחות יש השפעה קריטית על מיקומו של בעל המקצוע בתוצאות החיפוש, ובכך גם על כמות הזמנות העבודה שיקבל מ - whocan. 
אם נשרפה לך נורה בסלון, או שיש לך תקר בגלגל, אין צורך בבעל מקצוע מוסמך כדי לפתור את הבעיה - השכן מלמעלה עם "ידי הזהב", או בעל המכולת השכונתית שיש לו כמה שעות פנויות בצהריים - יכולים גם הם "לעשות את העבודה". לכן, כל אחד יכול להתחבר ל - whocan ולהתחיל לסייע לאנשים בקהילה המיידית שלו. 
whocan אינה קובעת את המחיר ולא "גוזרת קופון" מעלות התיקון או השירות. אנחנו רואים את עצמנו כפלטפורמה שמחברת בין הצורך של המשתמשים שלנו לבין בעלי יכולות שנמצאים בסביבתם ומעוניינים לתת להם שירות. 
אנחנו מאמינים ש - whocan יכולה לשנות את הדרך שבה בעלי מקצוע ונותני שירותים בבית הלקוח יתפסו את העבודה שלהם, ולגרום ללקוחות להאמין שניתן לקבל שירות טוב ואיכותי, מבלי לחשוש ש"יסדרו אותם".
בעולם של whocan, כל אחד יכול לעזור לכל אחד. מי שעושה זאת מכל הלב - מרוויח בגדול.
    </div>
    <div onclick="window.location.href='#/app/provider'">
      <img src="img/123.png" style="
    width: 100%;
    padding: 35px;
">
    </div>
</div>
		  
  </ion-content>
</ion-view>
