<ion-view view-title="{{NavTitle}}"  hide-back-button="false" style="     background-color: #e7eff2; ">
    <ion-nav-buttons side="left">
        <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
            <i class="icon ion-ios-arrow-back"></i>
        </button>
    </ion-nav-buttons>
  <ion-content>
  
	<div class="list" >

        <div style="
    text-align: center;
    font-size: 19px;
    color: #61b5cf;
    direction: rtl;
    margin-top: 35px;
">
            כי אם לא כאן, איך נשמור על  קשר?
        </div>
		<form name="userForm"  novalidate="" ng-submit="signIn(userForm)">
        <div class="mainPageLogIn mt30" style="    background-color: #e7eff2;"  align="center" style="margin-top:20px !important;">

            <div class="mt15">
                <input type="text"  name="fullname" placeholder="שם מלא"  ng-model="contact.name" required>
            </div>
			<p class="errormsg" ng-show="userForm.fullname.$error.required && userForm.$submitted">יש להזין שם מלא.</p>
            
            <div class="mt15">
                <input type="email"  name="email"  placeholder="כתובת מייל" ng-model="contact.email" required>
            </div>
			<p class="errormsg" ng-show="userForm.email.$error.required && userForm.$submitted">יש להזין כתובת מייל.</p>
			<p class="errormsg" ng-show="userForm.email.$error.email && userForm.$submitted">כתובת מייל לא תקינה.</p>
            


            <div class="mt15">
                      <input type="text" name="subject"  placeholder="נושא"  ng-model="contact.subject" required>
            </div>
			<p class="errormsg" ng-show="userForm.subject.$error.required && userForm.$submitted">יש להזין נושא הפניה.</p>

            <div class="mt15">
                <textarea rows="8" cols="100" name="desc" placeholder="מלא תוכן הפניה"  ng-model="contact.desc" required></textarea>
            </div>
			<p class="errormsg" ng-show="userForm.desc.$error.required && userForm.$submitted">יש להזין תוכן הפניה.</p>

			
			
		</div>	



			  
			  <div align="center" style="margin-top:10px;" ng-click="sendContact()">
				<input type="image" src="img/next_login.png" style="width:80%" value="" >
			  </div>
			  


			  
		</form>
        

		<!--
		<div class="mainPageLogIn" align="center" ng-click="sendContact()">
				<div class="mt30">
					<img src="img/next_login.png" style="width:100%"   />
				</div>
		</div>
		-->
		
	</div>

          	
		
		  
  </ion-content>
</ion-view>
