<ion-view view-title="{{NavTitle}}"  hide-back-button="false">
  <ion-nav-buttons side="left">
    <button class="button back-button buttons button-clear header-item" ng-click="goBack()">
      <i class="icon ion-ios-arrow-back"></i>
    </button>
  </ion-nav-buttons>
  <ion-content>
  
<div>
  <img src="img/how_it_works.png" style="width:100%;"/>
</div>
		  
  </ion-content>
</ion-view>
