body{
	font-family: 'Rubik', sans-serif;
}
.mt-10
{
	margin-top:-10px !important;
}

.mt0
{
	margin-top:0px !important;
}

.mt10
{
	margin-top:10px !important;
}

.mt15
{
	margin-top:15px !important;
}

.mt20
{
	margin-top:20px !important;
}

.mt25
{
	margin-top:25px !important;
}


.mt30
{
	margin-top:30px !important;
}


.title-image
{
	width:650px;
}

.Headtitle
{
	width:100%; 
	margin-top:0px;
	text-align:center;
	color:white;
	font-weight:bold;
	font-size:22px;
	direction:rtl;
}



.bar-header {
    border: 0px !important;
    border-bottom-color: transparent !important;
    background-image: none !important;
    border-bottom: none !important;
}

.transparent {
  background: transparent !important;
}
.image-modal {
  width: 100% !important;
  height: 100%;
  top: 0 !important;
  left: 0 !important;
}
.fullscreen-image {
  max-width: 100%;
  max-height: 100%;
  bottom: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  position: fixed;
  right: 0;
  top: 0;
}

.blueDiv
{
	width:100%;
	background-color:#2ba9d2;
	height:5px;
}
.InfoPopUp2
{
	background-color:#e7eff2;
	width:100%;
}
.noScrollPage{
     transform: translate3d(0px, 0px, 0px) scale(1)!important;
}
.InfoPopUp1
{
	margin-left:0%;
	overflow:hidden;
	text-align:right;	
}
.dateReport{
	font-size: 12px;
    position: absolute;
    bottom: 3px;
    left: 65px;
    color: black;
}
.itemStructure{
	position: relative;
}
.reportCommentTitle{
	    clear: both;
    margin-left: 13px;
    text-align: left;
    bottom: 3px;
    position: absolute;
    color: grey;
    left: 13px;
}
.buttons-right{
	position: relative;
	z-index: 21;
}
.logoHeader{
	    position: fixed;
    width: 60%;
    text-align: center;
    z-index: 20;
    margin-left: 20%;
	display: none;
}
.menuHeaderButton{
	position: relative;
	z-index: 21;
}

.infoRightButton
{
	position: fixed;
    width: 5%;
    right: 14px;
    margin-top: 50px;
    z-index: 9;
}

.infoLeftButton
{
	position: fixed;
    width: 5%;
    left: 14px;
    margin-top: 50px;
    z-index: 9;
}

.infoImgPopUp
{
	float:right;
	width:30%;
}

.infoDetailsPopUp
{
	float:left;
	width:50%;
	color:#242625;
}


.daysButton
{
	
	
}

.wide-as-needed 
{
  	direction:ltr; 
    overflow:auto; 
  	white-space: nowrap;
	background-color:#61b5cf; 
}
	
.scroll 
{ 
	direction:ltr; 
  	min-width: 100%;
}



.titleClass
{
	    text-align: center;
    color: white;
    margin-top: -25px;
    font-size: 17px;
    font-weight: 700;
}

.categoryButton
{
	/*margin-left:2px;
	padding:5px 0px 0px 5px !important;
	*/
	margin-top:30px;
	border-bottom:6px solid #3b7791;
	background-color:#61b5cf; /*#2daacf;*/
	margin-top:0px;
	width:100px;
	height:95px;
	border-radius: 0px;
	border-right: 0px;
    border-left: 0px;
}
.categoryButton.active, .categoryButton.activated ,.categoryButtonSelected.active, .categoryButtonSelected.activated {
    	background-color:#61b5cf!important; /*#2daacf;*/
	border-bottom:6px solid #fff!important; /*#2daacf;*/
}
.categoryButtonSelected
{
	background-color:#61b5cf; /*#2daacf;*/
	margin-top:0px;
	border-bottom:6px solid #fff;
	width:100px;
	border-radius: 0px;
	border-right: 0px;
    border-left: 0px;
	height:95px;
	box-shadow: inset 0px -15px 22px -9px rgba(0, 0, 0, 0.15);
}
/* Fix modal backdrop for smaller devices */
@media (max-width: 679px) {
  .active .modal-backdrop-bg {
    opacity: .5;
  }
  .modal-backdrop-bg {
    -webkit-transition: opacity 300ms ease-in-out;
    transition: opacity 300ms ease-in-out;
    background-color: #000;
    opacity: 0;
  }
}

.custom-popup.popup-container .popup {
  width:90%;
	border-radius: 20px;
}

.qDiv
{
	margin-top:-3px;
}

.itemSelectedQ
{
	background-color:#f1f1f1 !important;
	border:none;
}

.itemSelectedBoxQ
{
	color:white !important; 
	background-color:#ef2275 !important;
}


.itemSelected
{
	background-color:#ef2275 !important
}


.itemSelectedBoxQ
{
	color:#333 !important; 
	background-color:#f1f1f1 !important;
	border:none;
}

.itemSelectedBox
{
	color:white !important; 
	background-color:#ef2275 !important;
}


.mainPageLogo
{
	width:100%;
}

.mainPageLogo div
{
	width:60%;
	margin-top:30px;
}

.mainPageLogIn
{
	width:100%;
	background-color:white;
	overflow:hidden;
}
.closeButtonCard{
	opacity: 0;
	width:20px;
	 -webkit-transition:all .6s ease;
    -moz-transition: all .6s ease;
    -o-transition: all .6s ease;
    transition: all .6s ease;
}

.mainPageLogIn div
{
	width:85%;
	margin-top:20px;
}


.mainPageLogIn input
{    width: 100%;
    border: 2px solid rgba(97, 181, 207, 0.58);
    color: #61b5cf;
    text-align: right;
    padding: 12px;
    font-size: 16px;
    height: 50px;
    border-radius: 100px;
    height: 55px;
    padding-right: 37px;
}
.forgetPasswordRegister {
    margin-top: 3px!important;
    padding: 0px;
    text-align: left;
    margin-left: 50px;
    font-size: 16px;
    color: #61b5cf;
    font-weight: 700;
}
.button.button-positive {
    border-color: transparent;
    background-color: #61b5cf!important;
    color: #fff;
}
.mainPageLogIn textarea
{
	      width: 100%;
    border: 2px solid rgba(97, 181, 207, 0.58);
    color: #61b5cf;
    border-radius: 28px;
    text-align: right;
    padding: 12px;
    font-size: 16px;
    padding-top: 16px;
    height: 150px;
    resize: none;
}

.infoPopUpHeader
{
	width:100%;
	overflow:hidden;
}

.infoPopUpHeaderleft
{
	width:27%;
	margin-top:15px;
	float:right;
	margin-right:10px;
}

.infoPopUpHeaderleft img
{
	border-radius:50px;
	border:1px solid #61b5cf;
}

.infoPopUpCloseButton
{
	position:absolute;
	left:10px;
	font-size:20px;
	width:30px;
	color:white;
	top:10px;
}
.infoPopUpHeaderRight
{
	width:65%;
	margin-top:15px;
	float:left;
	margin-left:0px;
	text-align:right;
}

.popupTitle
{
	font-size:16px;
	font-weight:bold;
}

.popupLine
{
	width:100%;
	height:1px;
	background-color:#61b5cf;
	margin-top:6px;
}

.AboutPopUp
{
	text-align:right;
	direction:rtl;
	margin-top:10px;
}

.InfoPopUp
{
	text-align:right;
	direction:rtl;
	margin-top:10px;
	position:relative;
	background-color:#e7eff2
}

.InfoPopUp3
{
	    overflow: hidden;
    width: 100%;
    background-color: #e7eff2;
    margin-top: -22px;
    position: relative;
}

.buttonsPopUp
{
	margin-top:10px;
	text-align:center;
}

#markerLayer img {
    border: 1px solid #61b5cf !important;
    width: 50px !important;
    height: 50px !important;
border-radius: 50px;
}

.labels {
 color: red;
 background-color: white;
 font-family: "Lucida Grande", "Arial", sans-serif;
 font-size: 10px;
 font-weight: bold;
 text-align: center;
 width: 80px;
 white-space: nowrap;
}


.reviews
{
	overflow:hidden;
	width:100%;
}

.reviewsDetails
{
	float:left;
	width:67%;
	color:#262a2b;
	margin-top:10px;
	direction:rtl;
}

.reviewsImage
{
	float:right;
	width:30%;	
}

.reviewsImage img
{
	border-radius:50%;
}


.reviewHeader
{
	overflow:hidden;
	width:100%;
}

.reviewHeaderRight
{
	width:54%;
	float:right;
	text-align:right;
	direction:rtl;
}

.reviewHeaderLeft
{
	width:44%;
	float:left
}

.reviewHeaderCenter
{
	width:0%;
	float:left
}

.greyLine
{
	height:1px;
	width:90%;
	background-color:#CCC;
	margin:10px;
}

.chooseCatPopUp{
	z-index: 100;/* background-color: red; */position: absolute !important;width: 100%;text-align: center;margin-top: 33px;opacity: 0;
	  -webkit-transition:all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	z-index: 10;
}

.chooseCatPopUpImage{
	width: 250px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}
.chooseCatPopUpTitle{
	  margin-top: -37px;
    color: white;
    z-index: 9;
    position: relative;
    font-size: 20px;
    margin-right: -14px;
}
.chooseCatPopUp:before {
    content: ' ';
    position: absolute;
    width: 20px;
    height: 20px;
    right: 115px;
    top: -8px;
    border: 27px solid;
    border-color: #132428 transparent transparent #132428;
    transform: rotate(45deg);
}
#map{
	z-index:1; position:relative; width:100%; height:100%; margin-top:0px;
}
.mapWrapper{
	height:50%;
}
.footerStructure{
    width: 100%;
    border-top: 4px solid #61b5cf;
    box-shadow: 0 -5px 14px 0px rgba(0, 0, 0, 0.18);
    position: absolute;
    z-index: 2;
	padding-top: 2%;
}
.footerStructure img{
	     width: 90%;
}














/* Drag */
 *{
        -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
    }
    [ng-drag], [ng-drag-clone]{
        -moz-user-select: -moz-none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }
    .drag-object, [ng-drag-clone], [ng-drop] [ng-drag]{
        width: 100px;
        height: 100px;
        background: rgba(255,0,0, 0.5);
        color:white;
        text-align: center;
        padding-top:40px;
        display: inline-block;
        margin:0 10px;
        cursor: move;
        position: relative;
        overflow: hidden;
    }
    .drag-object [ng-drag]{
        width: 100px;
        height: 100px;
        position: absolute;
        top:0; left:0;
        padding: 0;
        margin: 0;
    }
    [ng-drag-clone]{
        margin: 0;
    }
    [ng-drag].drag-over{
        border:solid 1px red;
    }
    [ng-drag].dragging{
        opacity: 0.5;
    }
    [ng-drop]{
        background: rgba(0,255,0, 0.5);
        text-align: center;
        width: 600px;
        height: 200px;
        padding-top:90px;
        display: block;
        margin:20px auto;
        position: relative;
    }
    [ng-drop].drag-enter{
        border:solid 5px red;
    }
    [ng-drop] span.title{
        display: block;
        position: absolute;
        top:50%;
        left:50%;
        width: 200px;
        height: 20px;
        margin-left: -100px;
        margin-top: -10px;
    }
    [ng-drop] div{
        position: relative;
        z-index: 2;
    }
	
	
	
	/* Availeble Page */
	
	.availebleLogo
	{
		width:100%;
		margin-top:10px;
	}
	
	.availebleLogo div
	{
		width:50%
	}
	
	.availebleIcon
	{
		width:100%;
		margin-top:30px;
	}
	
	.availebleIcon div
	{
		width:80%;
	}
	
	
	/* Working Page*/
	.workingTitle
	{
		width:100%;
		text-align:center;
		margin-top:20px;
		font-size:22px;
		color:#7c7c7c;
	}
	
	.workingLine
	{
		width:100%;
		background-color:#f1f1f1;
		margin-top:10px;
		height:1px;
	}
	
	.workingDay
	{
		overflow:hidden;
		width:100%;
		padding:3px;
		margin-top:10px;
	}
	
	.workingDayText
	{
		float:right;
		width:30%;
		text-align:right;
		margin-right:10px;
		color:#808487;
	}
	
	.workingDayTextNotActive
	{
		float:right;
		width:30%;
		text-align:right;
		margin-right:10px;
		color:#bdbfbe;
	}
	
	.workingDayV
	{
		float:right;
		width:30px;
	}
	
	.workingDayHours
	{
		float:right;
		width:50%;
		margin-left:20px;
		overflow:hidden;
	}
	
	.workingDayHoursLeft
	{
		background-color:#edeef0;
		color:#808487;
		padding:3px;
		width:50px;
		float:left;
		text-align:center;
	}
	
	.workingDayHoursLeftNotActive
	{
		background-color:#edeef0;
		color:#bdbfbe;
		padding:3px;
		width:50px;
		float:left;
		text-align:center;
	}
	
	.workingDayHoursRight
	{
		background-color:#edeef0;
		color:#808487;
		padding:3px;
		width:50px;
		float:left;
		text-align:center;
	}
	
	
	
	.workingDayHoursCenter
	{
		color:#808487;
		padding:3px;
		width:20px;
		float:left;
		font-size:12px; 
		text-align:center;
	}
	
	/* Points popup */
	/*Points popup*/
	.pointsPopup .popup {
		background-color: transparent;
		padding-top: 30px;
		width: 90%;
		height: 100%;
		text-align: center;
		direction: rtl;
	}
	
	.pointsPopup .popup-head {
		width: 0 !important;
		height: 0 !important;
		border-bottom-width: 0 !important;
	}
	
	.pointsPopupMainDiv {
		background-color: white;
		margin-top: -40px;
		padding: 40px 10px 10px 10px;
		border-radius: 15px;
		box-shadow: 0 0 10px rgba(0,0,0,0.5);
	}
	
	.popupRate
	{
		width:100%;
		overflow:hidden;
		margin-top:-5px;
	}
	
	.popupTmb
	{
		position:absolute;
		width:30%;
		left:35%;
		top:10%;
	}
	
	.popupRateRight
	{
		width:30%;
		float:right;
		margin-top:14px;
		font-size:16px;
		color:#999;
	}
	
	.popupRateLeft
	{
		width:60%;
		float:left;
		margin-left:10px;
	}



	
	.starTd
	{
		width:20%;
	}
	
	.footerComment
	{
		position:absolute;
		bottom:10px;
		width:80%;
		left:10%;
	}
	
	.textAreaComment
	{
		border:1px solid #00aaec;
		margin-top:60px;
		width:90%;
		margin-right:5%;
	}
	
	.textAreaComment div
	{
		width:100%;
		padding:10px;
	}


.SupplierContact .popup {
    background-color: transparent;
    padding-top: 30px;
    width: 300px;
    height: 400px;
}

.SupplierContact .popup-head {
    width: 0 !important;
    height: 0 !important;
    border-bottom-width: 0 !important;
}

.popup-title  {
	direction:rtl;
}



/* Enter Page */

.EnterLeftArrow
{
	width:15px;
	position:absolute;
	left:10px;
	top:180px;
	z-index:100;
}

.EnterRightArrow
{
	width:15px;
	position:absolute;
	right:10px;
	top:180px;
	z-index:100;
}
.gm-style-mtc,.gmnoprint{
	display: none!important;
}


.InfoPopUp2{

	    position: relative;
    z-index: 19;

    margin-top: -20px
}
.infoPopUp_worker{
	background-color: rgb(231, 239, 242);
}
#infoPopUp{
	box-shadow: 0 -5px 14px 0px rgba(0, 0, 0, 0.18);
}
.infoPopUpCount{
	width: 100% !important;
	overflow: hidden !important;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	margin-top: -30px;
	color: white;
	padding-top: 6px;
	height: 32px;
	font-size: 17px;
	font-weight: 700;
	z-index: 10;
}
.infoPopUpCount2{
	width: 100% !important;
	overflow: hidden !important;
	background-color: rgba(0, 0, 0, 0.75);
	position: absolute;
	margin-top: -36px;
	color: white;
	padding-top: 6px;
	height: 32px;
	font-size: 17px;
	font-weight: 700;
}
.infoPopUpCountNoPeople{
	    width: 100% !important;
    overflow: hidden !important;
    background-color: rgba(0, 0, 0, 0.38);
    /* position: absolute; */
    /* margin-top: -31px; */
    color: white;
    padding-top: 6px;
    height: 32px;
    font-size: 17px;
    font-weight: 700;
    text-align: center;
    position: relative;
    top: -56px;
    z-index: 9;
}
.errormsg {
  padding: 2px 0 0px 0px;
  color: red;
  direction:rtl;
}
.gm-fullscreen-control{
	display: none;
}
.infoBubblePopUp{
	margin-top: 205px;
	z-index: 100;/* background-color: red; */position: absolute !important;width: 100%;text-align: center;opacity: 0;
	  -webkit-transition:all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
	z-index: 10;
}
.infoBubblePopUpTitle{
	    height: 50px;
    background-color: #122428;
    padding-top: 14px;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    color: white;
    font-size: 20px;
}
.infoImgPopUp img{
	    background-image: url('../img/default-user-icon-profile.png');
    background-size: 100%;
}
.availableStructure .scroll{
	height: 100%;
}
.searchButtonLoadingStructure{
    direction: rtl;
    font-size: 33px;
    width: 90%;
    /* background-color: red; */
    padding: 22px;
    border-radius: 100px;
    color: white;
    background: linear-gradient(to right, #f6455c 50%, #c32f4c 50%);
    background-size: 200% 100%;
    background-position: left bottom;
	 transition:all 10s ease;
	 display: none;
}
.searchButtonLoadingStructureAnimate{
	background-size: 100% 3%;
}
.searchButtonStructure{
	
}
.noSuppliersDataIncreaseRad{
	top:-33px;
	/*background-color: rgb(0, 0, 0);*/
	/*top: 62% !important;*/
	/*margin-top: 0;*/
	/*position:absolute;*/
	/*height: 5%;*/
}
